body {
    margin: 0;
    padding: 0;
    background-color: #16066e22;
  }
  
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
  
  .top-nav {
    background-color: #15066e;
  }
  
  nav {
    font-size: 25px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-content: center;
  }
  
  .top-nav li {
    padding: 0px;
  }
  img{
    padding-top: 7px;
    height: 60px;
  }
  label{
    color: #000;
}
.filter-modal{
    text-align: center;
    justify-content: center;
}
.sort-modal{
    text-align: center;
    justify-content: center;
}
.bottom-nav {
  background-color: white;
  color: black;
  position: relative;
  
}

.bottom-nav ul{
  height: 50px;
}

.bottom-nav a {
  color: #cae8ff;
  float: left;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}
.bottom-nav li {
  padding: 10px;
}
.bottom-nav li:hover{
  background-color: #15066e;
  color: white;
}

.bottom-nav a.active {
  background-color: #388bfd;
  color: #051d4d;
}


.bottom-nav > nav{
  font-size: 15px;
}
h2{
    color: #000;
}